@charset "UTF-8";
/*----------bootstrap-navbar-css------------*/
@import url("https://fonts.googleapis.com/css?family=Thasadith:400,700");
.navbar-logo {
  padding: 20px;
  color: #ffffff;
}

.navbar-mainbg {
  background-color: #5161ce;
  padding: 0px;
}

#navbarSupportedContent {
  overflow: hidden;
  position: relative;
}

#navbarSupportedContent ul {
  padding: 0px;
  margin: 0px;
}

#navbarSupportedContent ul li a i {
  margin-right: 10px;
}

#navbarSupportedContent li {
  list-style-type: none;
  float: left;
}

#navbarSupportedContent ul li a {
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
  font-size: 15px;
  display: block;
  padding: 20px 20px;
  transition-duration: 0.6s;
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  position: relative;
}

#navbarSupportedContent > ul > li.active > a {
  color: #5161ce;
  background-color: transparent;
  transition: all 0.7s;
}

#navbarSupportedContent a:not(:only-child):after {
  content: "";
  position: absolute;
  right: 20px;
  top: 10px;
  font-size: 14px;
  font-family: "Font Awesome 5 Free";
  display: inline-block;
  padding-right: 3px;
  vertical-align: middle;
  font-weight: 900;
  transition: 0.5s;
}

#navbarSupportedContent .active > a:not(:only-child):after {
  transform: rotate(90deg);
}

.hori-selector {
  display: inline-block;
  position: absolute;
  height: 100%;
  top: 0px;
  left: 0px;
  transition-duration: 0.6s;
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  background-color: #fff;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  margin-top: 10px;
}

.hori-selector .right,
.hori-selector .left {
  position: absolute;
  width: 25px;
  height: 25px;
  background-color: #fff;
  bottom: 10px;
}

.hori-selector .right {
  right: -25px;
}

.hori-selector .left {
  left: -25px;
}

.hori-selector .right:before,
.hori-selector .left:before {
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #5161ce;
}

.hori-selector .right:before {
  bottom: 0;
  right: -25px;
}

.hori-selector .left:before {
  bottom: 0;
  left: -25px;
}

@media (min-width: 992px) {
  .navbar-expand-custom {
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }

  .navbar-expand-custom .navbar-nav {
    -ms-flex-direction: row;
    flex-direction: row;
  }

  .navbar-expand-custom .navbar-toggler {
    display: none;
  }

  .navbar-expand-custom .navbar-collapse {
    display: -ms-flexbox !important;
    display: flex !important;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
  }
}
h1, p, header {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

strong {
  color: #2ecc71;
  font-weight: bold;
}

main {
  font-family: Thasadith;
  padding: 0 1rem;
}

.calendar-wrapper {
  display: flex;
  justify-items: center;
  justify-content: center;
}

header {
  text-align: center;
  margin: 2.5rem auto;
  display: block;
}

h1 {
  margin-bottom: 0.5rem;
}

.calendar {
  --day-size: 10vw;
  display: grid;
  grid-template-columns: repeat(7, calc(var(--day-size) + 0.5rem));
  grid-template-rows: repeat(52, calc(var(--day-size) + 0.5rem));
}

p {
  font-size: 1.25rem;
}

.day {
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--day-size);
  height: var(--day-size);
  background: #eee;
  transition: background-color ease 0.5s;
  border-radius: 0.25rem;
  font-size: 4vw;
  font-weight: 200;
}

.today {
  border: solid #000 1px;
  cursor: pointer;
}

button {
  appearance: none;
  border: none;
  outline: none;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}

button span {
  pointer-events: none;
}

.completed {
  background-color: rgba(46, 204, 113, 0.75);
}

.future {
  opacity: 0.5;
}

.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
     supported by Chrome and Opera */
}