@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Roboto");
body {
  font-family: "Roboto", sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

i {
  margin-right: 20px;
}

/*----------bootstrap-navbar-css------------*/
.navbar-logo {
  padding: 20px;
  color: #ffffff;
}

.navbar-mainbg {
  background-color: #5161ce;
  padding: 0px;
}

#navbarSupportedContent {
  overflow: hidden;
  position: relative;
}

#navbarSupportedContent ul {
  padding: 0px;
  margin: 0px;
}

#navbarSupportedContent ul li a i {
  margin-right: 10px;
}

#navbarSupportedContent li {
  list-style-type: none;
  float: left;
}

#navbarSupportedContent ul li a {
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
  font-size: 15px;
  display: block;
  padding: 20px 20px;
  transition-duration: 0.6s;
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  position: relative;
}

#navbarSupportedContent > ul > li.active > a {
  color: #5161ce;
  background-color: transparent;
  transition: all 0.7s;
}

#navbarSupportedContent a:not(:only-child):after {
  content: "";
  position: absolute;
  right: 20px;
  top: 10px;
  font-size: 14px;
  font-family: "Font Awesome 5 Free";
  display: inline-block;
  padding-right: 3px;
  vertical-align: middle;
  font-weight: 900;
  transition: 0.5s;
}

#navbarSupportedContent .active > a:not(:only-child):after {
  transform: rotate(90deg);
}

.hori-selector {
  display: inline-block;
  position: absolute;
  height: 100%;
  top: 0px;
  left: 0px;
  transition-duration: 0.6s;
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  background-color: #fff;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  margin-top: 10px;
}

.hori-selector .right,
.hori-selector .left {
  position: absolute;
  width: 25px;
  height: 25px;
  background-color: #fff;
  bottom: 10px;
}

.hori-selector .right {
  right: -25px;
}

.hori-selector .left {
  left: -25px;
}

.hori-selector .right:before,
.hori-selector .left:before {
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #5161ce;
}

.hori-selector .right:before {
  bottom: 0;
  right: -25px;
}

.hori-selector .left:before {
  bottom: 0;
  left: -25px;
}

@media (min-width: 992px) {
  .navbar-expand-custom {
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }

  .navbar-expand-custom .navbar-nav {
    -ms-flex-direction: row;
    flex-direction: row;
  }

  .navbar-expand-custom .navbar-toggler {
    display: none;
  }

  .navbar-expand-custom .navbar-collapse {
    display: -ms-flexbox !important;
    display: flex !important;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
  }
}
@media (max-width: 991px) {
  #navbarSupportedContent ul li a {
    padding: 20px 30px;
  }

  .hori-selector {
    margin-top: 0px;
    margin-left: 10px;
    border-radius: 0;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
  }

  .hori-selector .left,
.hori-selector .right {
    right: 10px;
  }

  .hori-selector .left {
    top: -25px;
    left: auto;
  }

  .hori-selector .right {
    bottom: -25px;
  }

  .hori-selector .left:before {
    left: -25px;
    top: -25px;
  }

  .hori-selector .right:before {
    bottom: -25px;
    left: -25px;
  }
}
:root {
  --accentcolor: #c33327;
}

body {
  width: 100%;
  height: 100vh;
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
  color: #1f1a14;
  margin: 0;
}

article {
  --article-height: 100%;
  --article-ratio: 1.3;
  width: calc(var(--article-height) / var(--article-ratio));
  height: var(--article-height);
  max-width: 800px;
  box-sizing: border-box;
  padding: 0px 20px;
  margin: auto;
  position: relative;
}

.hero-image {
  max-width: 100%;
  width: 100%;
  height: 330px;
  object-fit: cover;
}

.hero {
  position: relative;
}

.heading-article {
  position: absolute;
  bottom: -20px;
  left: 0;
  color: #5161ce;
}

h1 {
  font-size: 3em;
  text-transform: uppercase;
  color: #ffffff;
  padding: 15px 20px;
  background-color: white;
  line-height: 1em;
  margin: 0;
  text-align: center;
}

img[class^=editorial-image] {
  outline: 3px solid rgba(255, 255, 255, 0.5);
  outline-offset: -8px;
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 10%;
  shape-outside: circle(50%);
  -webkit-shape-outside: circle();
}

.editorial-image-left {
  float: left;
  margin: 20px 20px 20px 0px;
}

.editorial-image-right {
  float: right;
  margin: 20px 0px 20px 20px;
}

.forthebirdinblue {
  object-position: 40% 65%;
}

p {
  font-size: 1.1rem;
  line-height: 1.6em;
}

h2 {
  clear: both;
  font-size: 1.5rem;
  margin: 2em 0em 0.1em 0em;
}

blockquote {
  clear: both;
  font-weight: 900;
  padding: 1em 1em 1em 3em;
  margin: 0 0 2em;
  width: 75%;
  position: relative;
  font-family: "Roboto", sans-serif;
  font-size: 1.2em;
}

blockquote::before {
  content: "“";
  font-family: "Roboto", sans-serif;
  font-size: 4em;
  font-weight: bold;
  color: white;
  position: absolute;
  left: 0;
  top: 5px;
}

blockquote::after {
  content: "";
}

blockquote strong {
  display: block;
  margin-top: 0.5em;
  font-size: 0.8em;
}

@media only screen and (max-width: 600px) {
  h1 {
    font-size: 2em;
  }

  article {
    width: 90%;
    margin: auto;
  }

  blockquote {
    width: 100%;
  }
}
.fixedButton {
  position: fixed;
  bottom: 0px;
  right: 0px;
  padding: 20px;
}

.roundedFixedBtn {
  height: 60px;
  line-height: 80px;
  width: 60px;
  font-size: 2em;
  font-weight: bold;
  border-radius: 50%;
  background-color: #4CAF50;
  color: white;
  text-align: center;
  cursor: pointer;
}